@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

// General

h1,
h2,
h3,
h4,
h5 {
	text-transform: uppercase;
}
h1,
h2 {
	letter-spacing: 0.3px;
}
input:disabled,
input[readonly],
textarea:disabled,
textarea[readonly] {
	border-color: $bg-gray;
}
input,
textarea {
	height: auto !important;
	&::-webkit-input-placeholder {
		font-style: italic;
	}
}

p.small {
	line-height: 1.2;
	font-size: 80%;
}

.gray {
	color: $dark-gray;
}
.orange {
	color: $orange;
}
.visible {
	opacity: 1;
	visibility: visible;
	overflow: visible;
}
.hidden {
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
}

input.is-invalid-input {
	background-color: map-get($foundation-palette, field-red) !important;
}
.container-title {
	text-shadow: 2px 2px 0 $gray;
	margin-bottom: 0;
}
.fields {
	.title,
	.container-title {
		color: map-get($foundation-palette, field-green);
	}
	.left-aligned-image-text,
	.right-aligned-image-text {
		.icon {
			svg path,
			svg ellipsis,
			svg circle {
				stroke: map-get($foundation-palette, field-green);
				fill: transparent;
			}
		}
	}
	.plan {
		.icon {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			svg path,
			svg circle,
			svg ellipse {
				stroke: map-get($foundation-palette, aubergine);
				fill: transparent;
			}
		}
	}
}

.camden {
	.title,
	.container-title {
		color: map-get($foundation-palette, camden-blue);
	}
	.left-aligned-image-text,
	.right-aligned-image-text {
		.icon {
			svg path,
			svg ellipsis,
			svg circle {
				stroke: map-get($foundation-palette, camden-blue);
				fill: transparent;
			}
		}
	}
	.plan {
		.icon {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			svg path,
			svg circle,
			svg ellipse {
				stroke: map-get($foundation-palette, aubergine);
				fill: transparent;
			}
		}
	}
}

.dark-link {
	color: map-get($foundation-palette, warning);
}

.image-toning {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: rgba(51, 48, 64, 0.8);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
img.person {
	border-radius: 50%;
	width: 80px;
	height: 80px;
}
.full-height {
	height: 100%;
	overflow: hidden;
}
.noscroll {
	overflow: hidden !important;
}
.justified {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&.four {
		.item {
			max-width: 25%;
			@include breakpoint(medium down) {
				min-width: 50%;
			}
		}
	}
	&.three {
		.item {
			max-width: 33.333%;
			@include breakpoint(medium down) {
				min-width: 100%;
			}
		}
	}
}
.bold {
	font-weight: $global-weight-bold;
}
.blog-page {
	background: $white;
	h4 {
		margin-top: ($global-margin * 3);
	}
	p {
		margin-bottom: ($global-margin * 1.8);
	}
	.title {
		@include breakpoint(large) {
			text-align: center;
		}
	}
	.author,
	.date {
		@include breakpoint(large) {
			text-align: center;
		}
		display: block;
		font-style: italic;
		color: darken($light-gray, 40%);
	}
	.date {
		margin-bottom: ($global-margin * 2);
	}
	.top-image {
		background-image: url(../images/La-Digue-Beach-Seychelles.jpg);
		-moz-background-size: cover;
		-o-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		position: relative;
		background-position: 50% 50%;
		/* ie8- graceful degradation */
		background-position:50% 50%9 !important;
		width:100%;
		height:100%;
		overflow:hidden;
		z-index: 0;
		padding-top: 58.6%;
		border-radius: $global-radius;
		margin-bottom: 3em;
	}
	.content-container {
		margin-bottom: ($global-margin * 4);
		position: relative;
		@include breakpoint(medium down) {
			padding: 5.5em 0 0;
		}
		@include breakpoint(large) {
			padding: 7em 0 0;
		}
		img {
			border-radius: $global-radius;
			margin: $global-margin 0;
		}
	}
}
.icon {
	display: block;
	text-align: center;
	margin: 0 0 $global-margin;
	img {
		width: auto;
		height: 50px;
	}
	svg path,
	svg circle,
	svg ellipse {
		stroke: map-get($foundation-palette, aubergine);
		fill: transparent;
	}
}
footer {
	.icon {
		display: inline-block;
		margin-bottom: 0;
		svg {
			ellipse,
			circle {
				stroke: map-get($foundation-palette, camden-orange);
				stroke-width: 3px;
			}
			path {
				fill: map-get($foundation-palette, camden-orange);
				stroke: none;
			}
		}
	}
}


// Sections
.container {
	margin-bottom: ($global-margin * 2);
	padding: 3em 0;
	position: relative;
	&.tight-top {
		padding-top: 0;
	}
	&.tight-bottom {
		padding-bottom: 0;
	}
}

.lead {
	font-size: 1.125em;
	line-height: 1.5;
	font-weight: bold;
}

.wrapper-switch {
	@include breakpoint(medium down) {
		background-color: map-get($foundation-palette, aubergine);
		padding-bottom: 0;
		margin-bottom: 5.5em;
		color: $white;
		border-radius: $global-radius;
		.wrapper,
		.tabs-content {
			background-color: map-get($foundation-palette, aubergine);
		}
		.container-title {
			text-shadow: none;
		}
	}
}

.wrapper {
	//border-radius: $global-radius;
	background-color: $white;
	&.primary {
		background-color: map-get($foundation-palette, aubergine);
		z-index: -2;
		color: $white;
		.container-title {
			text-shadow: 0px 0px 0 $light-gray;
		}
	}
	&.top-header {
		.full-screen-banner {
			background-image: url(../images/La-Digue-Beach-Seychelles.jpg);
			-moz-background-size: cover;
			-o-background-size: cover;
			-webkit-background-size: cover;
			background-size: cover;
			position: relative;
			background-position: 50% 50%;
			/* ie8- graceful degradation */
			background-position:50% 50%9 !important;
			width:100%;
			height:100%;
			overflow:hidden;
			z-index: 0;
			.content {
				@include breakpoint(medium down) {
					padding: 6em 0 4em;
				}
				padding: 14% 0 5%;
				position: relative;
				z-index: 3;
			}
			.copy {
			    position:relative;
			    vertical-align:middle;
			    text-align:center;
			    color: $white;
			}
			.partnership {
				padding-top: $global-padding;
				> * {
					display: block;
					@include breakpoint(large) {
						display: inline-block;
					}
				}
				img {
					max-width: 150px;
					height: auto;
					@include breakpoint(medium down) {
						margin: 0 auto;
					}
				}
				span {
					vertical-align: middle;
					@include breakpoint(medium down) {
						margin-bottom: 5px;
					}
					@include breakpoint(large) {
						margin-right: 10px;
						padding: 5px 10px 5px 0;
						border-right: 1px solid $white;
					}
				}
			}
		}

        .callout-form {
            .title {
                color: $white;
                padding: 0 $global-margin $global-margin;
            }

            .camden & {
				background-color: map-get($foundation-palette, camden-blue);
			}
			.fields & {
				background-color: map-get($foundation-palette, field-green);
			}
			.clerkenwell & {
				background-color: map-get($foundation-palette, red);
			}
			.bermondsey & {
				background-color: map-get($foundation-palette, purple);
			}

        }
		.slim-full-width-form {
			background-color: map-get($foundation-palette, aubergine);
			padding: .5em 0;
			position: relative;
			z-index: 5;

			.camden & {
				background-color: map-get($foundation-palette, camden-blue);
			}
			.fields & {
				background-color: map-get($foundation-palette, field-green);
			}
			.clerkenwell & {
				background-color: map-get($foundation-palette, red);
			}
			.bermondsey & {
				background-color: map-get($foundation-palette, purple);
			}
			@include breakpoint(medium down) {
				margin: 0 $global-margin $global-margin;
				border-radius: $global-radius;
				padding: 2em 0;
			}
			.slim-form {
				@include breakpoint(large) {
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					-ms-flex-align: center;
					-webkit-align-items: center;
					-webkit-box-align: center;
					align-items: center;
					input {
						margin: 0;
					}
				}
				text-align: center;
				margin: 0;
			}
			.form-label {
				color: $white;
				font-family: $header-font-family;
				text-transform: uppercase;
				letter-spacing: 0.3px;
				font-size: map-get(map-get($header-sizes, medium), h4) + px;
				@include breakpoint(medium down) {
					padding-bottom: 1em;
				}
			}
		}
	}
}

.left-aligned-image-text {
	.row {
		position: relative;
	}
	.callout {
		border-radius: $global-radius 0 0 $global-radius;
		@include breakpoint (medium down) {
			border-radius: 0 0 $global-radius $global-radius;
		}
	}
	.copy {
		padding: 1em 0;
		@include breakpoint (medium down) {
			padding-top: 0;
		}
		.title {
			margin: 0 0 ($global-margin * 1.2);
		}
	}
	.image {
		background-image: url(../images/beach-house.jpg);
		-moz-background-size: cover;
		-o-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		position: relative;
		background-position: 50% 50%;
		/* ie8- graceful degradation */
		background-position:50% 50%9 !important;
		overflow:hidden;
		border-radius: $global-radius;
	    z-index: 1;
		@include breakpoint(small) {
			position: relative;
			width: 100%;
			padding-top: 58.6%;
		}
		@include breakpoint(large) {
			width: auto;
			height:100%;
			position: absolute;
			right: 1em;
			top: 0;
			bottom: 0;
			padding-top: 0;
		}
	}

	@include breakpoint(medium down) {
		text-align: center;
	}
}

.right-aligned-image-text {
	.row {
		position: relative;
	}
	.callout {
		border-radius: 0 $global-radius $global-radius 0;
		@include breakpoint (medium down) {
			border-radius: 0 0 $global-radius $global-radius;
		}
	}
	.title {
		margin-bottom: $global-margin;
	}
	.copy {
		padding: 1em 0;
		@include breakpoint (medium down) {
			padding-top: 0;
		}
	}
	.image {
		background-image: url(../images/beach-house.jpg);
		-moz-background-size: cover;
		-o-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		position: relative;
		background-position: 50% 50%;
		/* ie8- graceful degradation */
		background-position:50% 50%9 !important;
		overflow:hidden;
		border-radius: $global-radius;
		@include breakpoint(small) {
			position: relative;
			width: 100%;
			padding-top: 58.6%;
		}
		@include breakpoint(large) {
			width: auto;
			height:100%;
			position: absolute;
			left: 1em;
			top: 0;
			bottom: 0;
			padding-top: 0;
			right: 50%;
		}
	}
	&.quote {
		img.person {
			margin-right: $global-margin;
		}
		.details {
			margin-top: $global-margin;
			display: flex;
			align-items: center;
		}
	}


	@include breakpoint(medium down) {
		text-align: center;
	}
}
.overlay-title {
	position: relative;
	margin-bottom: ($global-margin * 2);
	.overlay-image {
		position: absolute;
		max-width: 160px;
		height: auto;
		right: 5px;
		top: 20px;
	}
}
body.meetingrooms {
	.location-selector .fancy-select {
	    margin-bottom: 0rem;
	}

	.meeting-rooms {
		padding-top: 0;
		padding-bottom: 0;
		.meeting-room {
			margin:0;
			padding-top: 0;
			padding-bottom: ($global-margin * 2);
			.price {
				font-size: rem-calc(20);
				font-weight: $global-weight-bold;
				margin-bottom: 0;
				line-height: 1.4;
				@include breakpoint (medium) {
					font-size: rem-calc(40);
				}
			}
		}
	}
}

.form-popup {
	.fancy-select {
	    margin-bottom: 1.5rem;
	}
	.date, .time{
		font-style: italic;
	    width:100%;
		color: $input-placeholder-color;

		&.placeholder::before{
		    width:100%;
		    content:attr(placeholder);
			display: none;

		}
		&.placeholder:hover::before{
		    width:0%;
		    content:"";
		}
	}
	&#book_meetingroom {
		overflow-y: auto;
		@include breakpoint(small down) {
			.placeholder::before{
				position: absolute;
				display: block;

			}
			.close-button {
				position: fixed;
				padding-left: 10px;
			}
		}
	}
}

.container {
	.row {
		margin-bottom: ($global-margin * 2);
		&:last-child {
			margin-bottom: 0;
		}
	}
}



.plans {
	margin-bottom: $global-margin;
	@include breakpoint (large) {
		display: -ms-flexbox;
		display: flex;
		align-items: center;
	  	justify-content: center;
	}
  	color: map-get($foundation-palette, aubergine);
	.plan {
		@include breakpoint(large) {
			display: -ms-flexbox;
			display: flex;
		}
		@include breakpoint(medium down) {
			margin-bottom: $global-margin;
		}
		&.highlight {
			display: flex;
			display: -ms-flexbox;
			flex-direction: column;
			-ms-flex-direction: column;
			.badge {
				color: map-get($foundation-palette, camden-orange);
				margin-bottom: ($global-margin / 2);
				font-weight: $global-weight-bold;
				text-transform: uppercase;
				text-shadow: 2px 2px 0 $black;
				.icon {
					display: inline-block;
					vertical-align: middle;
					margin: 0;
					svg path,
					svg circle,
					svg ellipse {
						stroke: map-get($foundation-palette, camden-orange);
						fill: transparent;
					}
				}
			}
		}
		.inside-box {
			background: $white;
			border-radius: $global-radius;
			padding: 2em;
			.inside-top {
				margin-bottom: 10em;
				position: relative;
			}
			.title {
				color: map-get($foundation-palette, aubergine);
				margin-bottom: 0;
			}
			.subtitle {
				font-style: italic;
			}
			.price-box {
				position: absolute;
				right: -35px;
				left: -35px;
				bottom: -8.5em;
				color: $white;
				padding: .75em 0;
				transform: scale(1);
				-webkit-transition: .4s ease-in-out;
				-moz-transition: .4s ease-in-out;
				-o-transition: .4s ease-in-out;
				transition: .4s ease-in-out;
				//font-size: rem-calc(14);
				@include breakpoint(medium down) {
					right: -32px;
					left: -32px;
				}
				&.yellow {
					background: map-get($foundation-palette, camden-orange);
					color: map-get($foundation-palette, aubergine);
					.price {
						@include breakpoint(large) {
							font-size: rem-calc(43);
						}
					}
				}
				&.blue {
					background: map-get($foundation-palette, blue);
				}
				&.purple {
					background: map-get($foundation-palette, purple);
				}
				.price {
					font-size: rem-calc(35);
					font-weight: $global-weight-bold;
					margin: 0;
					line-height: 1em;
				}
			}
			.anchor {
				display: block;
				color: map-get($foundation-palette, aubergine);
				font-weight: $global-weight-bold;
				margin-bottom: $global-margin;
				@include breakpoint(large) {
					display: none;
				}
				.icon {
					display: inline-block;
					vertical-align: middle;
					margin: 0;
				}
			}
		}
	}
}

#dropdown-who {
	.tile:hover{
		h4 {
			color: map-get($foundation-palette, light-orange);
		}
	}
}

.perks {
	.container-title {
		margin-top: ($global-margin * 2);
	}
	table {
		color: $body-font-color-light;
		border-collapse: separate;
		display: block;
		margin-bottom: 0;
		tbody, tfoot, thead, tr, td {
			border-collapse: separate;
			display: block;
		}
		tr {
			&:nth-child(even) {
	    		background-color: rgba(255,255,255,0.1);
			}
			&.row {
				margin-bottom: 0;
			}
			@include breakpoint(large) {
				border: 0px solid map-get($foundation-palette, aubergine);
				&:first-child {
					border-radius: $global-radius $global-radius 0 0;
				}
				&:last-child {
					border-radius: 0 0 $global-radius $global-radius;
				}
				&:nth-child(odd) {
					background-color: rgba(255,255,255,0.05);
				}
				&:nth-child(even) {
					background-color: rgba(255,255,255,0.1);
				}
			}
		}
		@include breakpoint(medium down) {
			tr:nth-child(2n+1) td:nth-child(odd),
			tr:nth-child(2n) td:nth-child(even) {
				background-color: rgba(255,255,255,0.1);
			}
			tr:first-child td:first-child {
				border-radius: $global-radius $global-radius 0 0;
			}
			tr:last-child td:last-child {
				border-radius: 0 0 $global-radius $global-radius;
			}
			tr:nth-child(2n+1) td:nth-child(even),
			tr:nth-child(2n) td:nth-child(odd) {
				background-color: rgba(255,255,255,0.05);
			}
		}
	}
}

.map {
	/*@include breakpoint(large) {
		padding-bottom: 1.6em;
	}
	@include breakpoint(medium down) {
		padding-bottom: 4.6em;
	}*/
}
.citymapper {
	position: absolute;
	bottom: 0;
	background: map-get($foundation-palette, aubergine);
	right: 0;
	left: 0;
	border-radius: 0 0 $global-radius $global-radius;
	color: $white;
	font-weight: $global-weight-bold;
	padding-top: $global-padding;
	padding-bottom: $global-padding;
	span {
		line-height: 2em;
		@include breakpoint(medium down) {
			display: block;
			text-align: center;
		}
	}
	.image {
		@include breakpoint(large) {
			float: right;
		}
		@include breakpoint(medium down) {
			padding-top: 1em;
		}
		&:after {
			display: table;
			clear: both;
			content: '';
		}
	}
}

#map {
   width: 100%;
   height: 450px;
   background-color: $light-gray;
 }

.item {
	@include breakpoint(medium down) {
		margin-bottom: $global-margin;
	}
	.wrapper {
	 	padding: ($global-padding * 2);
	 	border-radius: 0 0 $global-radius $global-radius;
	 	-webkit-transition: .4s ease-in-out;
		-moz-transition: .4s ease-in-out;
		-o-transition: .4s ease-in-out;
		transition: .4s ease-in-out;
	}
	.item-top-image {
	 	border-radius: $global-radius $global-radius 0 0;
	 	-moz-background-size: cover;
		-o-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		position: relative;
		background-position: 50% 50%;
		/* ie8- graceful degradation */
		background-position:50% 50%9 !important;
		width: 100%;
		height:100%;
		overflow:hidden;
		-webkit-transition: .4s ease-in-out;
		-moz-transition: .4s ease-in-out;
		-o-transition: .4s ease-in-out;
		transition: .4s ease-in-out;
	 }
	&.regular {
		a {
			color: map-get($foundation-palette, aubergine);
			display: block;
			//display: flex;
			//align-items: stretch;
			//flex-direction: column;
			//height: 100%;
			&:hover {
				.wrapper {
					background: map-get($foundation-palette, aubergine);
					color: $white;
				}
				.item-top-image {
					-webkit-filter: grayscale(0%);
	    			filter: grayscale(0%);
				}
			}
		}
		.item-top-image {
			//height: 20em;
			//display: flex;
			//flex-direction: column;
			//align-items: stretch;
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
			&.one {
				background-image: url(../images/beach-2.jpg);
			}
			&.two {
				background-image: url(../images/beach-1.jpg);
			}
			&.three {
				background-image: url(../images/beach-3.jpg);
			}
		 }
		 //.wrapper {
		 	// display: flex;
			// align-items: stretch;
			// height: 100%;
			// justify-content: center;
			// flex-direction: column;
		 // }
	}
	&.zoom {
		a {
			display: block;
			position: relative;
			color: map-get($foundation-palette, aubergine);
			&:hover {
				.image-toning {
					background: rgba(map-get($foundation-palette, aubergine), .5)!important;
				}
				.title {
					color: map-get($foundation-palette, aubergine);
				}
				.item-top-image {
					-webkit-filter: grayscale(0%);
	    			filter: grayscale(0%);
	    			transform: scale(1.1);
				}
			}
		}
		.image-block {
			position: relative;
			overflow: hidden;
			border-radius: $global-radius $global-radius 0 0;
			z-index: 10;
			.title {
				color: $white;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 10;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 0;
				-webkit-transition: .25s ease-in-out;
				-moz-transition: .25s ease-in-out;
				-o-transition: .25s ease-in-out;
				transition: .25s ease-in-out;
			}
			.image-toning {
				border-radius: $global-radius $global-radius 0 0;
				&.camden {
					background: rgba(map-get($foundation-palette, camden-blue), .6);
				}
				&.fields {
					background: rgba(map-get($foundation-palette, field-green), .6);
				}
				&.clerkenwell {
					background: rgba(map-get($foundation-palette, red), .6);
				}
				&.bermondsey {
					background: rgba(map-get($foundation-palette, purple), .6);
				}
			}
			.item-top-image {
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
				&.camden {
					background-image: url(../images/La-Digue-Beach-Seychelles.jpg);
				}
				&.fields {
					background-image: url(../images/beach-1.jpg);
				}
				&.clerkenwell {
					background-image: url(../images/beach-house.jpg);
				}
			 }
		}
		 &.large-4 {
		 	.wrapper {
			 	padding: ($global-padding * 2);
			 	position: relative;
				z-index: 2;
			 }
		 }
		 &.large-6 {
		 	.wrapper {
			 	padding: ($global-padding * 2) ($global-padding * 3);
			 	position: relative;
				z-index: 2;
			 }
		 }
	}
	&.testimonial {
		position: relative;
		padding-top: 40px;
		.overlay-top-image {
			position: absolute;
			left: 50%;
			top: 0px;
			margin-left: -40px;
			img {
				//transform: scale(0);
				-webkit-transition: .25s ease-in-out;
				-moz-transition: .25s ease-in-out;
				-o-transition: .25s ease-in-out;
				transition: .25s ease-in-out;
			}
		}
		.wrapper {
			padding-top: 80px;
			color: map-get($foundation-palette, aubergine);
			border-radius: $global-radius;
		}
		.name {
			font-weight: $global-weight-bold;
			margin-bottom: 0;
		}
	}
	&.blog {
		@include breakpoint(large) {
			display: flex;
		}
		a {
			color: map-get($foundation-palette, aubergine);
			display: block;
			&:hover {
				color: map-get($foundation-palette, light-orange);
			}
		}
		.content {
			background: $white;
		}
		.author,
		.date {
			display: block;
			font-style: italic;
		}
		.date {
			margin-bottom: $global-margin;
		}
		.item-top-image {
			&.one {
				background-image: url(../images/beach-2.jpg);
			}
			&.two {
				background-image: url(../images/beach-1.jpg);
			}
			&.three {
				background-image: url(../images/beach-3.jpg);
			}
		 }
	}
}
.blog-posts {
	@include breakpoint(large) {
		display: flex;
		flex-direction: row;
		align-items: stretch;
	}
}

// Navigation
.dropdown-pane {
	opacity: 0;
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.dropdown-pane.is-open {
	opacity: 1;
}

.top-bar {
	position: fixed;
	z-index: 50;
	width: 100%;

	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
	> * {
		line-height: 3.5em;
	}
	&.color {
		background: map-get($foundation-palette, aubergine);
		box-shadow: 0px 3px rgba($black, .3);
	}
	.top-bar-title {
		line-height: 3em;
		padding: .5em 0;
		img {
			max-width: 180px;
			height: auto;
			display: inline-block;
		}
	}
	.dropdown.menu {
		li {
			a.with-submenu {
				position: relative;
				&:after {
				    content: '';
				    display: inline-block;
				    width: 0;
				    height: 0;
				    border: inset 5px;
				    border-color: $anchor-color transparent transparent;
				    border-top-style: solid;
				    border-bottom-width: 0;
				    position: absolute;
				    top: 50%;
				    right: 0;
				    -webkit-transition: .5s ease-in-out;
					-moz-transition: .5s ease-in-out;
					-o-transition: .5s ease-in-out;
					transition: .5s ease-in-out;
				}
				&.hover {
					&:after {
						-ms-transform: rotate(180deg); /* IE 9 */
					    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
					    transform: rotate(180deg);
					}
				}
			}
		}
	}
	.dropdown-pane {
		z-index: -1;
		margin-top: -200px;
		padding-top: 100px;
		.menu li {
			background-size: cover;
			a {
				padding: 4rem 1rem;
			}
		}

	}
	#responsive-menu {
		display: none;
		padding: .5rem;
		&:after {
			content: '';
			clear: both;
			display: table;
		}
		@include breakpoint(medium down) {
			//height: 100%;
			background: map-get($foundation-palette, aubergine);
		}
	}
	.burger-menu {
		float: right;
		margin-right: $global-margin;
		z-index: 100;
		display: none;
	}
	.top-bar-left {
		@include breakpoint(medium down) {
			margin-bottom: $global-margin;
			padding: ($global-padding * 3) 0 0;
		}
		a {
			color: map-get($foundation-palette, light-orange);
			font-family: $header-font-family;
			text-transform: uppercase;
			line-height: 1.5em;
		}
		padding-top: 0.25em;
	}
	.top-bar-right {
		line-height: 3.2em;
		@include breakpoint(medium down) {
			margin-bottom: 1.25em;
			//position: absolute;
			//bottom: 20px;
		}
		.button.visible {
		    /*-webkit-transform: scale(1);
		    -moz-transform: scale(1);
		    -o-transform: scale(1);
		    -ms-transform: scale(1);
		    transform: scale(1);*/
		}
		.button.visible.animate-this {
			animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both 1.5s;
			animation-fill-mode: forwards;
			transform: translate3d(0, 0, 0);
			backface-visibility: hidden;
			perspective: 1000px;
			-webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    		animation-iteration-count: 1;
		}
		.button {
			-webkit-transition: all 0.65s ease-in-out 0.1s;
		    -moz-transition: all 0.65s ease-in-out 0.1s;
		    -o-transition: all 0.65s ease-in-out 0.1s;
		    -ms-transition: all 0.65s ease-in-out 0.1s;
		    transition: all 0.65s ease-in-out 0.1s;
		    /*-webkit-transform: scale(0);
		    -moz-transform: scale(0);
		    -o-transform: scale(0);
		    -ms-transform: scale(0);
		    transform: scale(0);*/
		}
	}
	.subnav-container {
			position: absolute;
			top: 60px;
			z-index: 10;
			right: 0;
			left: 0;
			padding: 0;
			background: map-get($foundation-palette, aubergine);
	}
	.submenu {
		a {
			@include breakpoint(large) {
				padding: 21% 2.5em;
				-moz-background-size: cover;
				-o-background-size: cover;
				-webkit-background-size: cover;
				background-size: cover;
				position: relative;
				background-position: 50% 50%;
				/* ie8- graceful degradation */
				background-position:50% 50%9 !important;
				width: 100%;
				height:100%;
				overflow:hidden;
				&.camden {
					background-image: url(../images/camden-beach.jpg);
				}
				&.fields {
					background-image: url(../images/london-fields-beach.jpg);
				}
			}
		}
		@include breakpoint(large) {
			position: absolute;
			right: 0 !important;
			left: 0 !important;
			background: map-get($foundation-palette, aubergine);
			margin: 0;
			padding: 1.25em 0;
		}
		@include breakpoint(medium down) {
			position: relative;
			display: none;
			left: 0 !important;
		}
	}


	// Overwriting default styles
	.dropdown.menu>li.is-dropdown-submenu-parent>a {
		@include breakpoint(medium down) {
			//pointer-events: none;
			//cursor: default;
			//color: $white;
			//padding-right: 1rem;
		}
	}
	.dropdown.menu.vertical>li.opens-right>a:after {
		@include breakpoint(medium down) {
			display: none;
		}
	}
	.dropdown.menu {
		@include breakpoint(medium down) {
			text-align: center;
		}
	}
	.is-dropdown-submenu-parent {
		position: inherit !important;
	}
}

.banner-less {
    padding-top: ($global-margin * 4);
}
// Buttons

.button {
	text-transform: uppercase;
	font-weight: $global-weight-bold;
	margin-bottom: ($global-margin / 2);
	box-shadow: 2px 2px rgba($black, .3);
	position: relative;
	overflow: hidden;
	@include breakpoint(medium down) {
		padding: 1em 2rem;
	}
	&:only-child {
		margin-bottom: 0;
	}
}

// Callout

.callout {
	@include breakpoint(medium down) {
		padding: 2.5em 1em;
	}
	&.primary {
		color: $white;
		// z-index: -2;
		input:focus {
			border-color: map-get($foundation-palette, camden-orange);
		}
		label {
			color: $white;
		}
	}
}

// Tabs
.tabbed {
	margin-bottom: ($global-margin * 2);
	&.wrapper {
		border-radius: 0;
	}
	@include breakpoint(medium down) {
		padding-top: 2.5em;
	}
	.container-title {
		@include breakpoint(large) {
			display: none;
		}
	}
	.tabs-mobile {
		@include breakpoint (large) {
			display: none;
		}
	}
	.fancy-select {
		margin-bottom: 0;
	}
	.tabs {
		@include breakpoint(large) {
			display: flex;
			justify-content: center;
			flex: 1 100%;
		}
		display: none;
		.tabs-title {
			flex: 1;
			&.is-active {
				.title {
					color: map-get($foundation-palette, aubergine);
				}
				a {
					svg path,
					svg circle,
					svg ellipse {
						stroke: map-get($foundation-palette, aubergine);
						fill: transparent;
					}
				}
			}
			a {
				> * {
					margin: 0;
				}
				.icon {
					@include breakpoint(small only) {
						display: none;
					}
				}
				svg path,
				svg circle,
				svg ellipse {
					stroke: map-get($foundation-palette, field-green);
					fill: transparent;
				}
				&:hover {
					svg path,
					svg circle,
					svg ellipse {
						stroke: map-get($foundation-palette, aubergine);
						fill: transparent;
					}
					.title {
						color: map-get($foundation-palette, aubergine);
					}
				}
			}
		}
	}
	.tabs-content {
		border: 0;
		.tabs-panel {
			z-index: -3;
			@include breakpoint(medium down) {
				padding: 0;
			}
			@include breakpoint(large) {
				-moz-background-size: cover;
				-o-background-size: cover;
				-webkit-background-size: cover;
				background-size: cover;
				position: relative;
				background-position: 50% 50%;
				/* ie8- graceful degradation */
				background-position:50% 50%9 !important;
				width: 100%;
				height:100%;
				overflow:hidden;
			}
			.callout {
				@include breakpoint(medium down) {
					border-radius: 0;
					padding-bottom: ($global-padding * 2);
				}
				.image {
					@include breakpoint(medium down) {
						margin-bottom: $global-padding;
					}
					@include breakpoint(large) {
						display: none;
					}
				}
			}
		}

		#panel1 {
			background-image: url(../images/beach-2.jpg);
		}
		#panel2 {
			background-image: url(../images/beach-1.jpg);
		}
		#panel3 {
			background-image: url(../images/beach-3.jpg);
		}
	}
}
.tabs.vertical {
	> li {
		border-bottom: 1px solid $light-gray;
    	border-right: 3px solid transparent;
    	-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
    	&:last-child {
    		border-bottom: 0;
    	}
    	&:hover,
    	&.is-active {
    		//border-bottom: 1px solid $medium-gray;
    		border-right: 3px solid map-get($foundation-palette, light-orange);
    	}
	}
	.tabs-title {
		a {
			text-align: center;
		    padding: 1.65rem 1.5rem !important;
		    &:focus,
			&[aria-selected='true'] {
				background: $light-gray;
			}
		}
		img {
			display: inline-block;
		    max-width: 182px;
		}
	}
}
.tabs-content.vertical.map {
	border: 0;
	.tabs-panel {
		padding: 0;
		.details {
			padding-left: $global-padding;
			padding-right: $global-padding;
			@include breakpoint(medium down) {
				border-bottom: 3px solid $light-gray;
				padding-bottom: $global-padding;
			}
			img {
				width: 100%;
				@include breakpoint(medium down) {
					display: none;
				}
			}
		}
	}
	.row {
		margin: 0;
	}
}
#locations-vert-tabs {
	@include breakpoint(medium down) {
		display: none;
	}
}
.tabs-mobile {
	.fancy-select {
		margin-left: $global-padding;
		margin-right: $global-padding;
	}
	@include breakpoint(large up) {
		display: none;
	}
}


// Footer

footer {
	background: map-get($foundation-palette, aubergine);
	font-family: $body-font-family;
	font-weight: $global-weight-normal;
	color: rgba($white, .4);
	padding: ($global-padding * 1.5) 0;
	@include breakpoint(medium down) {
		text-align: center;
		padding-top: $global-padding;
		font-size: rem-calc(13);
	}
	hr {
		@include breakpoint(medium down) {
			max-width: 100%;
		    margin-left: .9375rem;
		    margin-right: .9375rem;
		    margin-top: 0;
		}
		&:nth-of-type(1),
		&:nth-of-type(2) {
			@include breakpoint(small down) {
		    	display: none;
		    }
	    }
	}
	/*.row {
		border-bottom: 1px solid $dark-gray;
		padding-bottom: ($global-padding * 1.5);
		margin-bottom: ($global-margin * 1.5);
		&:last-child {
			border: 0;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}*/
	.columns,
	.column {
		@include breakpoint(medium down) {
			margin-bottom: ($global-margin * 2);
		}
	}
	svg {
		vertical-align: middle;
		margin-right: 10px;
	}
	span {
			vertical-align: middle;
		}
	.social {
		svg {
			margin-right: ($global-margin * 1.5);
			@include breakpoint(medium down) {
				margin: 0 ($global-margin * 1.5);
			}
		}
	}
	.contacts {

	}
	.copyright {
		font-size: 0.8em;
		span {
			@include breakpoint(medium down) {
				display: block;
			}
		}
	}
	.menu>li>a {
		padding: 0.5em 1rem;
	}
	a {
		color: rgba($white, .4);
		font-weight: $global-weight-bold;
	}
	.logo {
		line-height: 5;
		img {
			margin: 0 $global-margin;
			opacity: .4;
		}
	}
	.menu {
		@include breakpoint(medium down) {
			display: flex;
			justify-content: center;
			li > a {
				padding: 1em .5rem;
				font-size: rem-calc(13);
			}
		}

	}
	.mobile-locations {
		@include breakpoint(medium up) {
			display: none;
		}
	}
	.desktop-locations {
		@include breakpoint(small down) {
			display: none;
		}
		a {
			margin-top: $global-margin;
			display: inline-block;
		}
	}
	.accordion {
		background: map-get($foundation-palette, aubergine) !important;
		.accordion-item,
		.accordion-content {
			background: map-get($foundation-palette, aubergine) !important;
		    border-top: 1px solid $dark-gray;
    		border-radius: 0 !important;
    		&:last-child {
    			border-bottom: 1px solid $dark-gray;
    		}
		}
		.accordion-content {
			color: rgba($white, .4) !important;
		}
		a.accordion-title {
			color: $anchor-color !important;
			&:before {
				font-size: 1.5em;
			}
		}
	}
}
.accordion {
	list-style-type: none;
	margin: 0 0 $global-margin;
	.accordion-item {
		&:first-child {
			border-radius: $global-radius $global-radius 0 0;
		}
		&:last-child {
			border-radius: 0 0 $global-radius $global-radius;
		}
		&:nth-child(odd) {
			background: $light-gray;
			.accordion-content {
				background: $light-gray;
			}
		}
		&:nth-child(even) {
			background: lighten($light-gray, 5%);
			.accordion-content {
				background: lighten($light-gray, 5%);
			}
		}
		.accordion-content {
			padding: $global-padding ($global-padding * 2) $global-padding;
			border: 0;
			a {
				font-weight: $global-weight-bold;
			}
		}
		&.is-active {
			.accordion-title {
				max-height: 10em;
				p {
					@include breakpoint(medium down) {
					display: -webkit-box;
					-webkit-line-clamp: 10;
					-webkit-box-orient: vertical;
					overflow: hidden;
					}
				}
			}
		}
	}
	.accordion-title {
		border: 0 !important;
		font-size: 1rem;
		color: map-get($foundation-palette, aubergine);
		font-weight: $global-weight-bold;
		line-height: 1.5em;
		padding: $global-padding ($global-padding * 2) $global-padding;
		max-height: 6em;
		&:hover {
			color: map-get($foundation-palette, aubergine);
		}
		&:before {
			color: map-get($foundation-palette, light-orange);
			right: 1.5rem;
			margin-top: -0.7rem;
		}
		p {
			margin-bottom: 0;
			@include breakpoint(medium down) {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			}
		}
	}
}

.slim-full-width-form {
	span {
		color: $white;
	}
	.feedback {
		padding: 20px 0;
	}
}

body.is-reveal-open {
    overflow: auto !important;
}

.reveal-overlay {
	width: 100%;
	height: 100%;
	right: auto;
	bottom: auto;
	overflow: hidden;
}

.reveal {
	color: map-get($foundation-palette, aubergine);
	background-color: $bg-gray;
	overflow: hidden;
	.title {
		font-size: rem-calc(32);
	}
	.fancy-select {
		.trigger {
			box-shadow: 2px 2px 0 rgba($black, .3);
		}
	}
}

/* Burger Icon */

#mobile-nav-icon {
	width: 30px;
	height: 25px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}

#mobile-nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: map-get($foundation-palette, light-orange);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#mobile-nav-icon span:nth-child(1) {
  top: 0px;
}
#mobile-nav-icon span:nth-child(2),#mobile-nav-icon span:nth-child(3) {
  top: 10px;
}
#mobile-nav-icon span:nth-child(4) {
  top: 20px;
}
#mobile-nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#mobile-nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#mobile-nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#mobile-nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Fancy Select */
div.fancy-select {
	position: relative;
	font-weight: $global-weight-bold;
	text-transform: uppercase;
	color: map-get($foundation-palette, aubergine);
	margin-bottom: ($global-margin * 2);
}

div.fancy-select.disabled {
	opacity: 0.5;
}

div.fancy-select select:focus + div.trigger.open {
	box-shadow: none;
}

div.fancy-select div.trigger {
	border-radius: $global-radius;
	cursor: pointer;
	padding: ($global-padding / 1.5);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	background: $white;
	color: map-get($foundation-palette, aubergine);
	width: 100%;

	transition: all 240ms ease-out;
	-webkit-transition: all 240ms ease-out;
	-moz-transition: all 240ms ease-out;
	-ms-transition: all 240ms ease-out;
	-o-transition: all 240ms ease-out;
}

div.fancy-select div.trigger:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-top-color: map-get($foundation-palette, aubergine);
	top: 24px;
	right: 21px;
}
div.fancy-select .options.open li.selected:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-bottom-color: map-get($foundation-palette, aubergine);
	top: 19px;
	right: 21px;
	transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select div.trigger.open {
	background: $white;
	box-shadow: none;
}

div.fancy-select div.trigger.open:after {
	border-top-color: map-get($foundation-palette, aubergine);
}
div.fancy-select .options.open li.selected:after {
	border-bottom-color: map-get($foundation-palette, aubergine);
}

div.fancy-select ul.options {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 0px;
	left: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 50;
	max-height: 200px;
	overflow: auto;
	background: $white;
	border-radius: $global-radius;
	min-width: 100%;

	transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.open {
	visibility: visible;
	top: 0px;
	opacity: 1;

	transition: opacity 300ms ease-out, top 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options.overflowing {
	top: auto;
	bottom: 50px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
	top: auto;
	bottom: 50px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

div.fancy-select ul.options li {
	padding: ($global-padding / 1.5);
	color: map-get($foundation-palette, field-green);
	cursor: pointer;
	white-space: nowrap;

	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
}

div.fancy-select ul.options li.selected {
	background: $light-gray;
	color: map-get($foundation-palette, aubergine);
	cursor: default;
	position: relative;
}

// ScrollReveal
.sr .top-header .copy { visibility: hidden; }

// Ripple Effect
.ink {
	display: block; position: absolute;
	background: rgba($light-gray, .5);
	border-radius: 100%;
	transform: scale(0);
}
/*animation effect*/
.ink.animate {animation: ripple 0.4s linear;}
@keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(5);}
}

// SVG Animations

@keyframes show {
  0% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

a {
	&:hover, &.show {
		svg {
			stroke-dasharray: 200;
			stroke-dashoffset: 200;
			animation: dash 1s linear forwards;
			animation-delay: 0.2s;
			&.noanimate {
				animation: none;
			}
		}
	}

}
.plan {
	&:hover, &.show {
		.inside-box {
			svg {
			stroke-dasharray: 200;
			stroke-dashoffset: 200;
			animation: dash 1s linear forwards;
			animation-delay: 0.2s;
				&.noanimate {
					animation: none;
				}
			}
			.price-box {
				transform: scale(1.02);
			}
		}
	}
}
